.canvasWrapper {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 10px 0;
}
.gameCanvas {
  width: 1000px;
  height: 1000px;
  border: #000 solid 1px;
  position: relative;
  display: flex;
}
